/*
    Document   : styles.css
    Created on : Jun 6, 2010, 6:57:02 PM
    Author     : sbourget
    Description:
        Purpose of the stylesheet follows.
*/

#mrbs_rlpcontainer {color:black; font-size: 10pt; font-family:arial,sans-serif; overflow: auto; padding: 1px;}

#mrbs_rlpcontainer A:link {color:#5B69A6; font-weight: bold; text-decoration: none}
#mrbs_rlpcontainer A:visited {color:#5B69A6; font-weight: bold; text-decoration: none}
#mrbs_rlpcontainer A:hover {color:red; text-decoration:underline}
#mrbs_rlpcontainer H1 {color:black; font-family:verdana,sans-serif; font-size:16pt}
#mrbs_rlpcontainer H2 {color:black; font-family:verdana,sans-serif; font-size:14pt}
#mrbs_rlpcontainer H3 {font-family:verdana,sans-serif; font-size:12pt}

#mrbs_rlpcontainer table {margin-bottom: 0; }

#mrbs_rlpcontainer TD {font-size:10pt; font-family:arial,sans-serif;vertical-align:top; padding: 3px;}
#mrbs_rlpcontainer TD.border {border: 1px solid #999; padding: 3px;}
#mrbs_rlpcontainer TD.header {color:black; font-family:verdana,sans-serif; border-width:0;
                          background-color:#ffffdd; font-size:26pt}

#mrbs_rlpcontainer TD.CR { vertical-align: middle; text-align: right}
#mrbs_rlpcontainer TD.CL { vertical-align: middle; text-align: left}
#mrbs_rlpcontainer TD.BR { vertical-align: baseline; text-align: right}
#mrbs_rlpcontainer TD.BL { vertical-align: baseline; text-align: left}
#mrbs_rlpcontainer TD.TR { vertical-align: top; text-align: right}
#mrbs_rlpcontainer TD.TL { vertical-align: top; text-align: left}

#mrbs_rlpcontainer td form { margin:0; } /* Prevent IE from displaying margins around forms in tables. */

#mrbs_rlpcontainer TD.unallocated {color:gray}
#mrbs_rlpcontainer TD.allocated {color:black}
#mrbs_rlpcontainer A:link.unallocated {color:#9BA9E6}
#mrbs_rlpcontainer A:link.allocated {color:#5B69A6}

#mrbs_rlpcontainer A:hover.unallocated {color:red}
#mrbs_rlpcontainer A:hover.allocated {color:red}

#mrbs_rlpcontainer A.blue {color:blue}
#mrbs_rlpcontainer A:visited.blue {color:blue}
#mrbs_rlpcontainer A:hover.blue {color:red}

#mrbs_rlpcontainer TH {color:#444; font-size:10pt; font-family:verdana,sans-serif;
                   background-color:#ccc;
                   border-width:1; border-color:#999999; vertical-align:top; padding: 1px;text-align: center;}
#mrbs_rlpcontainer TD.banner {vertical-align:middle; background-color:#C0E0FF}
#mrbs_rlpcontainer TABLE.banner { margin-bottom: 1em; }

#mrbs_rlpcontainer TD.blue {background-color:#F0F0FF}
#mrbs_rlpcontainer TD.red  {background-color:#FFF0F0}
#mrbs_rlpcontainer TD.green {background-color:#DDFFDD}
#mrbs_rlpcontainer TD.A {background-color:#FFCCFF}
#mrbs_rlpcontainer TD.B {background-color:#99CCCC}
#mrbs_rlpcontainer TD.C {background-color:#FF9999}
#mrbs_rlpcontainer TD.D {background-color:#FFFF99}
#mrbs_rlpcontainer TD.E {background-color:#C0E0FF}
#mrbs_rlpcontainer TD.F {background-color:#FFCC99}
#mrbs_rlpcontainer TD.G {background-color:#FF6666}
#mrbs_rlpcontainer TD.H {background-color:#66FFFF}
#mrbs_rlpcontainer TD.I {background-color:#DDFFDD}
#mrbs_rlpcontainer TD.J {background-color:#CCCCCC}
#mrbs_rlpcontainer TD.K {background-color:#CEA8F4}
#mrbs_rlpcontainer TD.L {background-color:#93EEAA}
#mrbs_rlpcontainer TD.U {background-color:#FF0000}
#mrbs_rlpcontainer TD.white {background-color:#FFFFFF}
#mrbs_rlpcontainer TD.DoubleBooked {background-color:#FF0000}

#mrbs_rlpcontainer TD.calendar { border:0px; font-size: 8pt}
#mrbs_rlpcontainer TD.calendarHeader {border:0px; font-size: 10pt}
#mrbs_rlpcontainer FONT.calendarHighlight {color: red}

#mrbs_rlpcontainer TD.even_row {background-color:#FFFFFF}	/* Even rows in the day view */
#mrbs_rlpcontainer TD.odd_row {background-color:#EEEEEE}	/* Odd rows in the day view */

#mrbs_rlpcontainer TD.highlight {background-color:#AABBFF; border-style:solid; border-width:1; border-color:#0000AA;} /* The highlighted cell under the cursor */
#mrbs_rlpcontainer .naked { margin: 0; padding: 0; border-width:0; text-align:center} /* Invisible tables used for internal needs */

#mrbs_rlpcontainer .sitename
{font-size: 18px;
 font-style: normal;
 font-weight: bold;
 text-transform: none;
 color:#ffffff;
 position: absolute;
 left:30;
 top:12}

#mrbs_rlpcontainer TD.month {font-size: 8pt; background-color:#FFFFFF}
#mrbs_rlpcontainer .monthday {font-size: 12pt; vertical-align: top; text-align: center}

#mrbs_rlpcontainer b.active, #mrbs_rlpcontainer b.active a{
    color: #900;
}

#mrbs_rlpcontainer #saverow {
	text-align: center;
}

